/*créditos al canal  https://www.youtube.com/watch?v=ys2kaK8HgnA */
/* hice algunas mejoras */
body {
  font-family: 'poppins';
  color: rgb(11, 153, 236);
  font-size: 1.2rem; /*tamaño de las letras*/
  line-height: 1.6em; /* interlineado */
  margin: 0;
 
  

}

.main{
/* Fondo imagen*/ 
  background: url(img/odo1.jpg);
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  padding: 30px 33px 67px;
  height: 100%;
  

}

h1 {
  font-size: 2rem;
  line-height: 1.3em;
  text-align: center;
}

/* parrafos */
p {
  margin-bottom: 1.6em; /*margen inferior funciona como enter entre parrafos*/
}

.container {
  width: 85%;
  max-width: 1050px;
  margin: 0 auto;

}

.header {
  background:#42AAE0;
  color: white;
  padding: 2rem 0;

  /* hacer el menu fijo */
  position: fixed;
  left: 0;
  top: 0;
  /* ocuapamos todo el ancho */
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  /* lo alineamos al centro */
  align-items: center;

  flex-wrap: wrap;
}

/* logo */
.logo {
  letter-spacing: 15px;
  font-size: 1.3em;
}

.menu-icon {
  display: none;
}

/* todos los "ul" que esten dentro de "navigation" */
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  /* uno al lado del otro */
  display: inline-block;
}

/* los enlaces dentro del menu */
.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 35px;
}

.navigation ul li a:hover {
  background: #000000;
}

.main {
  padding-top: 10rem;
 

}

/*PIE DE PAGINA*/
.footer {
  background:#030C2C;
  padding: 0rem 0;
  text-align: center;
  margin-top: 0rem;
  
}


.menu-link{
    color: black;
}

.fb{
    color: blue;
}
/* REPONSIVE */
/* todas las caracteristicas que se mostraran a continuancion seran cuando tenga un ancho maximo de 767px */

@media only screen and (max-width: 767px) {
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
      
    .navigation ul li {
        display: block;
      }
      
      /* los enlaces dentro del menu */
      .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
      }
      
      .navigation ul li a:hover {
        background: #080000;
      }

    
}

form{

  
  text-align: center;
  color: #3c136b;
  
  width: 839px;
  height: 647px;
  left: 570px;
  top: 153px;


  background: rgba(255, 255, 255, 0.8);
  border: 15px solid #030C2C;
  box-sizing: border-box;
}
 
.form p{

text-align: left;
margin: 55px;
color: #000000;
font-size: 1.5em;

}

.form button{

  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

.form button:hover{

  color: #1883ba;
    background-color: #ffffff;
}

/*
.footer ul{
 
  list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
 


}

.footer ul a{

  color: white;
    text-decoration: none;
    display: block;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: bold;
    
    
}

.footer li{

  border-right: 1px solid white;
}

.footer  li p{
  font-family: Cambria;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  
  color: #FFFFFF;


}

.footer li a {

  font-size: 20px;
}
*/

.footer{
	background-color:#030C2C;
	widht:100%;
	height:270px;
	display:flex;
	align-items:center;
}

.foot-first{
	display:flex;
	justify-content:around;
	align-items:center;
}

.foot{
	margin:0;
	padding: 0px 3% 0px 3%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	/*border-left:2px solid #fff;*/
}
.foot>h3{
	color:#fff;
	font-size:1rem;
	margin-bottom:35px;
	
}
.foot>p{
	color:#fff;
	font-size:0.7rem;
	font-style:normal;
	text-align:justify;
}

.preguntas-frecuentes, .contactanos{
	
	border-right:1px solid #ffffff;
}

.preguntas-frecuentes{
	border-left:1px solid #ffffff;
}


